<!--템플릿 사용하기-->
<!--<h2>Hello Template</h2>-->

<!--데이터를 화면에 출력하기-->
<!--질문 목록에 링크 추가하기-->
<!--<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">-->
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	<table class="table">
		<thead class="table-dark">
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>작성일시</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="question, loop : ${paging}">
				<!--<td th:text="${question.subject}"></td>
				<td th:text="${question.createDateTime}"></td>-->
				<td th:text="${loop.count}"></td>
				<td>
					<a th:href="@{|/question/detail/${question.id}|}"
					th:text="${question.subject}"></a>
				</td>
				<td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
			</tr>
		</tbody>
	</table>
	<a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
</div>
</html>